[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/v3-core"]
	path = contracts/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "contracts/v3-periphery"]
	path = contracts/v3-periphery
	url = https://github.com/Uniswap/v3-periphery.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "lib/v2-core"]
	path = lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "lib/solidity-lib"]
	path = lib/solidity-lib
	url = https://github.com/Uniswap/solidity-lib
